@media(max-width: 425px){
	.info-footer{
		width: 100%;
		padding:20px 0px;
	}
	.info-footer div{
		width: 90%;
		margin:auto;
		float:none;
		height: 70px;
	}
	.two{
		height: 30px!important;
		padding-top: 10px;
	}
	.two p{
		text-align: left;
	}
	.three{
		padding-top: 10px;
	}
	.three ul{
		padding-left: none;
		width: 100%;
	}
	.three ul li{
		width: 20%;
	}
	.three p{
		left:0px;
	}
}
@media(min-width: 426px) and (max-width: 600px){
	.info-footer{
		width: 100%;
		padding:20px 0px;
	}
	.info-footer div{
		width: 90%;
		margin:auto;
		float:none;
		height: 70px;
	}
	.two{
		height: 30px!important;
		padding-top: 10px;
	}
	.two p{
		text-align: left;
	}
	.three{
		padding-top: 10px;
	}
	.three ul{
		padding-left: none;
		width: 50%;
	}
	.three ul li{
		width: 20%;
	}
	.three ul li i{
		float:left;
	}
	.three p{
		left:0px;
	}
}
@media(min-width: 601px) and (max-width: 800px){
	.info-footer{
		width: 95%;
		padding:20px 0px;
	}
	.info-footer div{
		width: 33%;
	}
	.three ul{
		padding-left: none;
		width: 100%;
	}
	.three ul li{
		width: 20%;
	}
	.two p{
		text-align:center;
	}
}
@media(min-width: 801px) and (max-width: 1270px){
	.info-footer{
		width: 95%;
		padding:20px 0px;
	}
	.info-footer div{
		width: 33%;
	}
	.three ul{
		padding-left: none;
		width: 100%;
	}
	.three ul li{
		width: 20%;
	}
	.two p{
		text-align:center;
	}
}