@media(max-width: 425px){
	.info-leilas-help{
		padding: 30px 0;
		width: 90%;
		margin: auto;
	}
	.headspan{
		width: 90%;
	}
	.picture-leilas-help{
		padding: 20px 0;
	}
	.picture-leilas-help img{
		width: 100%;
	}
	.content-leilas-help ul li{
		float:none;
		width: 90%;
		clear:both;
		display:table;
		border-bottom: none;
	}
	.thelast{
		margin-right: 0!important;
	}
	.picture-small-div{
		width: 20%;
	}
	.picture-small-div img{
		width: 37px;
	}
}
@media(min-width: 426px) and (max-width: 600px){
	.info-leilas-help{
		padding: 30px 0;
		width: 80%;
		margin: auto;
	}
	.headspan{
		width: 90%;
	}
	.picture-leilas-help{
		padding: 20px 0;
	}
	.picture-leilas-help img{
		width: 100%;
	}
	.content-leilas-help ul li{
		float:none;
		width: 90%;
		clear:both;
		display:table;
		border-bottom: none;
	}
	.thelast{
		margin-right: 0!important;
	}
	.picture-small-div{
		width: 20%;
	}
	.picture-small-div img{
		width: 37px;
	}
}
@media(min-width: 601px) and (max-width: 800px){
	.info-leilas-help{
		padding: 30px 0;
		width: 80%;
	}
	.headspan{
		width: 90%;
	}
	.picture-leilas-help{
		padding: 20px 0;
	}
	.picture-leilas-help img{
		width: 100%;
	}
	.picture-small-div img{
		width: 80%;
	}
}
@media(min-width: 801px) and (max-width: 1270px){
	.info-leilas-help{
		padding: 30px 0;
		width: 80%;
	}
	.headspan{
		width: 90%;
	}
	.picture-leilas-help{
		padding: 20px 0;
	}
	.picture-leilas-help img{
		width: 100%;
	}
	.picture-small-div img{
		width: 80%;
	}
}